/* Aplicamos reglas CSS para crear un modelo de rejilla */
#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; /* mostraría la altura de cada fila*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw; /* separación entre cada casilla de la rejilla */
}
#grid > div {
    font-size: 5vw;
    padding: 3em;
    background: green;
    text-align: center;
}