/* Diseño a tres columnas con CSS Grid */
body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav article ads"
        "footer footer footer";
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 5px;
    height: 100vh;
    margin: 0;
}

/* Definimos reglas generales */
header, footer, article, nav, div {
    padding: 15px;
    background: green;
}

/* Definimos áreas en la rejilla */
#header {
    grid-area: header;
}
#nav {
    grid-area: nav;
}
#article {
    grid-area: article;
}
#aside {
    grid-area: ads;
}
#footer {
    grid-area: footer;
}
