/* Diseño a tres columnas con CSS Grid */
body {
    display: grid;
    grid-template-areas:
        "cabecera cabecera cabecera box4"
        "menu menu menu menu"
        "box2 box2 box2 lateral"
        "footer footer footer lateral";
    grid-template-rows: 20% 5% 1fr 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    height: 100vh;
    margin: 0;
    font-family: 'Chivo', sans-serif;
}

/* Definimos reglas generales */
nav ul { /* Esta es la función destacada de este ejercicio de ejemplo */
    display: flex;
    justify-content: space-between;
    width: 90%;
}
nav ul a {
    text-decoration: none;
    color: white;
}
li a:hover {
    text-decoration: none;
    color: grey;
}
li {
    display: inline;

}
#secciones {
    font: bold;
    font-size: 22px;
    text-align: center;
}
footer, article, div {
    padding: 0px;
}
.imagenesCabecera {
    text-align: center;
    width: 100%;
    max-width: 625px;
    height: auto;
}

/* Definimos áreas en la rejilla */
#cabecera {
    grid-area: cabecera;
    background: white;
}
#menu {
    grid-area: menu;
    background: black;
    color: white;
}
#box2 {
    grid-area: box2;
}
#lateral {
    grid-area: lateral;
}
#box4 {
    grid-area: box4;
}
#footer {
    grid-area: footer;
}
@media (max-width: 640px){
    body {
        display: grid;
        grid-template-areas:
        "cabecera"
        "menu"
        "box2"
        "lateral"
        "box4"
        "footer";
        grid-template-rows: 15% 1fr 10% 1fr 10%;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        height: 100vh;
        margin: 0;
    }
}